<div class="p-b-16">
  <div class="modal-header modal-header-primary text-center">
    <i [c8yIcon]="'replace'" style="font-size: 32px"></i>
    <h3 id="modal-title" class="p-t-16">{{ 'Replace device' | translate }}</h3>
  </div>
  <c8y-stepper
    [disableDefaultIcons]="{ edit: true, done: false }"
    [customClasses]="['m-l-40', 'm-r-40', 'm-t-32']"
    id="modal-body"
    linear
  >
    <ng-template c8yStepperIcon="final">
      <span [c8yIcon]="'check'"></span>
    </ng-template>
    <ng-template c8yStepperIcon="deviceSelect">
      <span [c8yIcon]="'c8y-device'"></span>
    </ng-template>
    <cdk-step state="welcome" label="Introduction">
      <div class="modal-inner-scroll">
        <div class="p-16">
          <p translate>We will guide you through the process of the replacing a device without losing the history and the device information.</p>
          <ul>
            <li translate>Before starting the replacement process both devices, the old and the new one, must be turned on and connected to Cumulocity.</li>
            <li translate>The wizard will then ask you to select the new device to which you want the data to be transferred.</li>
            <li translate>Now you can turn off both devices again in order to avoid any inconsistencies during the process.</li>
          </ul>
          <p translate><b>Be aware</b>: Devices with child assets are currently not supported. The replacement is not supported if the device owner is used for multiple devices.</p>
        </div>
      </div>
      <c8y-stepper-buttons
        (onNext)="continue()"
        (onCancel)="cancel()"
        [labels]="{ next: 'Replace' | translate, cancel: 'Cancel' | translate }"
      ></c8y-stepper-buttons>
    </cdk-step>
    <cdk-step state="deviceSelect" label="New device">
      <div class="modal-inner-scroll">
        <c8y-device-grid
          [title]="'Replacement device' | translate"
          [actionControls]="actionControls"
          [baseQuery]="baseQuery"
        ></c8y-device-grid>
      </div>
      <c8y-stepper-buttons
        (onCancel)="cancel()"
        [labels]="{ cancel: 'Cancel' | translate }"
      ></c8y-stepper-buttons>
    </cdk-step>

    <cdk-step state="final" label="Done">
      <div class="d-flex d-col a-i-center j-c-middle">
        <c8y-operation-result
          [size]="84"
          [vertical]="true"
          [type]="'success'"
          [text]="'Device replaced!' | translate"
        ></c8y-operation-result>
      </div>

      <c8y-stepper-buttons
        (onBack)="close()"
        [labels]="{ back: 'Close' | translate }"
      ></c8y-stepper-buttons>
    </cdk-step>
  </c8y-stepper>
</div>
